USE [EmniyetVeriTabani]
GO
/****** Object:  UserDefinedFunction [dbo].[fnGorevliOlaySayisi]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[fnGorevliOlaySayisi] (@PersonelID int)
returns int
as
begin
    declare @OlaySayisi int;
    select @OlaySayisi = count(*) from OlayPersonel where PersonelID = @PersonelID;
    return @OlaySayisi;
end;


GO
/****** Object:  UserDefinedFunction [dbo].[fnGorevliPersonelSayisi]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[fnGorevliPersonelSayisi] (@olayid int)
returns int
as
begin
    declare @sayac int

    select @sayac = count(*)
    from OlayPersonel
    where OlayID = @olayid

    return @sayac
end
GO
/****** Object:  UserDefinedFunction [dbo].[fnNetMaas]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[fnNetMaas] (@PersonelID int)
returns decimal(10,2)
as
begin
    declare @Maas decimal(10,2);
    select @Maas = Maas from Personel where PersonelID = @PersonelID;
    return @Maas * 0.9;
end;
GO
/****** Object:  UserDefinedFunction [dbo].[fnSehirSucYogunlugu]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fnSehirSucYogunlugu] (@Sehir varchar(50))
returns decimal(5,2)
as
begin
    declare @SehirOlaySayisi int;
    declare @ToplamOlaySayisi int;

    select @SehirOlaySayisi = count(*) 
    from Suclar where Sehir = @Sehir;

    select @ToplamOlaySayisi = count(*) 
    from Suclar;

    if @ToplamOlaySayisi = 0
        return 0;

    return cast(@SehirOlaySayisi * 100.0 / @ToplamOlaySayisi as decimal(5,2));
end;
GO
/****** Object:  UserDefinedFunction [dbo].[fnSucTuruneGoreOlaySayisi]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fnSucTuruneGoreOlaySayisi] (@SucTuru varchar(100))
returns int
as
begin
    declare @OlaySayisi int;
    select @OlaySayisi = count(*) 
    from OlayKaydi ok
    join Suclar s on ok.SucID = s.SucID
    where s.SucTuru = @SucTuru;
    return @OlaySayisi;
end;



GO
/****** Object:  Table [dbo].[OlayKaydi]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OlayKaydi](
	[OlayID] [int] IDENTITY(1,1) NOT NULL,
	[OlayTarihi] [date] NOT NULL,
	[OlaySaati] [time](7) NOT NULL,
	[SucID] [int] NULL,
	[PersonelID] [int] NULL,
	[Aciklama] [text] NULL,
	[DosyaNo] [nvarchar](50) NULL,
	[SonDurum] [nvarchar](50) NULL,
	[SehirID] [int] NULL,
	[IlceID] [int] NULL,
	[OlayTurID] [int] NULL,
	[Oncelik] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[OlayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suclar]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suclar](
	[SucID] [int] IDENTITY(1,1) NOT NULL,
	[SucTuru] [varchar](100) NOT NULL,
	[SucTarihi] [date] NOT NULL,
	[Sehir] [varchar](50) NULL,
	[Mahalle] [varchar](100) NULL,
	[Aciklama] [text] NULL,
	[SehirID] [int] NULL,
	[IlceID] [int] NULL,
	[SucTurID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SucID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwSuclarOlaylar]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[vwSuclarOlaylar] as
select 
    s.SucID,
    s.SucTuru,
    s.SucTarihi,
    s.Sehir,
    s.Mahalle,
    s.Aciklama as SucAciklama,
    o.OlayID,
    o.OlayTarihi,
    o.OlaySaati,
    o.Aciklama as OlayAciklama
from Suclar s
inner join OlayKaydi o on s.SucID = o.SucID;
GO
/****** Object:  Table [dbo].[Personel]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personel](
	[PersonelID] [int] IDENTITY(1,1) NOT NULL,
	[TCkimlikNo] [char](11) NOT NULL,
	[Ad] [varchar](50) NOT NULL,
	[Soyad] [varchar](50) NOT NULL,
	[DogumTarihi] [date] NOT NULL,
	[Cinsiyet] [char](1) NULL,
	[Rutbe] [varchar](30) NOT NULL,
	[GorevYeri] [varchar](100) NULL,
	[GorevBaslangicTarihi] [date] NULL,
	[Maas] [decimal](10, 2) NULL,
	[KullaniciAdi] [varchar](50) NULL,
	[Sifre] [varchar](20) NULL,
	[BirimID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TCkimlikNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OlayPersonel]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OlayPersonel](
	[OlayPersonelID] [int] IDENTITY(1,1) NOT NULL,
	[OlayID] [int] NULL,
	[PersonelID] [int] NULL,
	[Gorev] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[OlayPersonelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwPersonelOlaylar]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vwPersonelOlaylar] as
select 
    p.PersonelID,
    p.Ad + ' ' + p.Soyad as PersonelAdi,
    p.Rutbe,
    p.GorevYeri,
    o.OlayID,
    o.OlayTarihi,
    o.OlaySaati,
    o.Aciklama as OlayAciklama,
    op.Gorev as PersonelGorevi
from Personel p
inner join OlayPersonel op on p.PersonelID = op.PersonelID
inner join OlayKaydi o on op.OlayID = o.OlayID;
GO
/****** Object:  Table [dbo].[Deliller]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deliller](
	[DelilID] [int] IDENTITY(1,1) NOT NULL,
	[OlayID] [int] NULL,
	[DelilTuru] [varchar](100) NOT NULL,
	[DelilAciklama] [text] NULL,
	[DelilTarihi] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DelilID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwOlayDelilOzet]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[vwOlayDelilOzet] as
select 
    o.OlayID,
    o.OlayTarihi,
    o.OlaySaati,
    o.Aciklama as OlayAciklama,
    d.DelilTuru,
    d.DelilAciklama,
    d.DelilTarihi
from OlayKaydi o
inner join Deliller d on o.OlayID = d.OlayID;
GO
/****** Object:  Table [dbo].[Tutuklamalar]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tutuklamalar](
	[TutuklamaID] [int] IDENTITY(1,1) NOT NULL,
	[OlayID] [int] NULL,
	[TutuklananAd] [varchar](50) NOT NULL,
	[TutuklananSoyad] [varchar](50) NOT NULL,
	[TutuklamaTarihi] [date] NOT NULL,
	[TutuklamaNedeni] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TutuklamaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwTutuklamaliOlaylar]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vwTutuklamaliOlaylar] as
select 
    t.TutuklamaID,
    t.TutuklananAd + ' ' + t.TutuklananSoyad as Tutuklanan,
    t.TutuklamaTarihi,
    t.TutuklamaNedeni,
    o.OlayID,
    o.OlayTarihi,
    o.OlaySaati,
    o.Aciklama as OlayAciklama
from Tutuklamalar t
inner join OlayKaydi o on t.OlayID = o.OlayID;
GO
/****** Object:  Table [dbo].[Suclular]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suclular](
	[SucluID] [int] IDENTITY(1,1) NOT NULL,
	[SucID] [int] NULL,
	[Ad] [varchar](50) NOT NULL,
	[Soyad] [varchar](50) NOT NULL,
	[DogumTarihi] [date] NOT NULL,
	[Cinsiyet] [char](1) NULL,
	[KimlikNo] [char](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SucluID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[KimlikNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_Suclular_KimlikNo] UNIQUE NONCLUSTERED 
(
	[KimlikNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwSuclular_ve_suclari]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[vwSuclular_ve_suclari] as
select 
    s.SucluID,
    s.Ad + ' ' + s.Soyad as SucluAdiSoyadi,
    s.KimlikNo,
    s.DogumTarihi,
    s.Cinsiyet,
    su.SucTuru,
    su.SucTarihi,
    su.Sehir,
    su.Mahalle
from Suclular s
join Suclar su on s.SucID = su.SucID

GO
/****** Object:  Table [dbo].[MagdurBilgisi]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MagdurBilgisi](
	[MagdurID] [int] IDENTITY(1,1) NOT NULL,
	[KimlikNo] [char](11) NOT NULL,
	[Ad] [varchar](50) NOT NULL,
	[Soyad] [varchar](50) NOT NULL,
	[DogumTarihi] [date] NOT NULL,
	[Cinsiyet] [char](1) NULL,
	[Adres] [varchar](150) NULL,
	[YasadigiSehir] [varchar](50) NULL,
	[OlayID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MagdurID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[KimlikNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ihbarlar]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ihbarlar](
	[IhbarID] [int] IDENTITY(1,1) NOT NULL,
	[OlayID] [int] NULL,
	[IhbarciAd] [varchar](50) NULL,
	[IhbarciSoyad] [varchar](50) NULL,
	[IhbarciTelefon] [varchar](15) NULL,
	[IhbarTarihi] [date] NOT NULL,
	[IhbarDetayi] [text] NULL,
	[Durum] [nvarchar](20) NULL,
	[Oncelik] [nvarchar](20) NULL,
	[IhbarTuru] [nvarchar](50) NULL,
	[Konum] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IhbarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MahkemeKararlari]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MahkemeKararlari](
	[KararID] [int] IDENTITY(1,1) NOT NULL,
	[OlayID] [int] NULL,
	[KararTarihi] [date] NOT NULL,
	[MahkemeKarari] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KararID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dosyalar]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dosyalar](
	[DosyaID] [int] IDENTITY(1,1) NOT NULL,
	[OlayID] [int] NULL,
	[DosyaAdi] [varchar](100) NOT NULL,
	[DosyaTuru] [varchar](50) NULL,
	[DosyaYolu] [varchar](255) NULL,
	[DosyaTarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[DosyaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OlayDurum]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OlayDurum](
	[DurumID] [int] IDENTITY(1,1) NOT NULL,
	[OlayID] [int] NULL,
	[Durum] [varchar](50) NOT NULL,
	[DurumAciklama] [text] NULL,
	[DurumTarihi] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DurumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ifadeler]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ifadeler](
	[IfadeID] [int] IDENTITY(1,1) NOT NULL,
	[OlayID] [int] NULL,
	[KisiID] [int] NULL,
	[KisiTuru] [varchar](50) NULL,
	[IfadeMetni] [text] NOT NULL,
	[IfadeTarihi] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IfadeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TelefonKayitlari]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TelefonKayitlari](
	[KayitID] [int] IDENTITY(1,1) NOT NULL,
	[OlayID] [int] NULL,
	[TelefonNumarasi] [varchar](15) NOT NULL,
	[KonusmaMetni] [text] NULL,
	[KayitTarihi] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KayitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Taniklar]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Taniklar](
	[TanikID] [int] IDENTITY(1,1) NOT NULL,
	[OlayID] [int] NULL,
	[Ad] [varchar](50) NOT NULL,
	[Soyad] [varchar](50) NOT NULL,
	[KimlikNo] [char](11) NOT NULL,
	[DogumTarihi] [date] NOT NULL,
	[Cinsiyet] [char](1) NULL,
	[Ifade] [text] NULL,
	[TanikTarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[TanikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[KimlikNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwOlayDetay]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vwOlayDetay]
AS
SELECT
    o.OlayID,
    o.OlayTarihi,
    o.OlaySaati,
    o.Aciklama AS OlayAciklama,

    -- Suç bilgileri
    s.SucTuru,
    s.Sehir,
    s.Mahalle,

    -- Suçlu bilgileri
    sc.Ad AS SucluAd,
    sc.Soyad AS SucluSoyad,
    sc.DogumTarihi AS SucluDogumTarihi,
    sc.Cinsiyet AS SucluCinsiyet,

    -- Mağdur bilgisi
    m.Ad AS MagdurAd,
    m.Soyad AS MagdurSoyad,
    m.Cinsiyet AS MagdurCinsiyet,

    -- İhbarlar
    i.IhbarID,
    i.IhbarciSoyad,

    -- İfadeler
    ifa.IfadeID,
    ifa.IfadeMetni,

    -- Tanıklar
    t.Ad AS TanikAd,
    t.Soyad AS TanikSoyad,

    -- Mahkeme
    mk.KararID,
    mk.KararTarihi,

    -- Olay durumu
    od.Durum,
    od.DurumAciklama,

    -- Dosyalar
    d.DosyaAdi,
    d.DosyaTuru,

    -- Deliller
    dl.DelilTuru,
    dl.DelilAciklama,

    -- Personeller
    p.Ad AS PersonelAd,
    p.Soyad AS PersonelSoyad,
    p.Rutbe,
    op.Gorev,

    -- Telefon kayıtları
    tk.TelefonNumarasi,
    tk.KonusmaMetni,

    -- Tutuklamalar
    tut.TutuklananAd,
    tut.TutuklamaTarihi

FROM OlayKaydi o
LEFT JOIN Suclar s ON o.SucID = s.SucID
LEFT JOIN Suclular sc ON s.SucID = sc.SucID
LEFT JOIN MagdurBilgisi m ON o.OlayID = m.MagdurID
LEFT JOIN Ihbarlar i ON o.OlayID = i.OlayID
LEFT JOIN Ifadeler ifa ON o.OlayID = ifa.OlayID
LEFT JOIN Taniklar t ON o.OlayID = t.OlayID
LEFT JOIN MahkemeKararlari mk ON o.OlayID = mk.OlayID
LEFT JOIN OlayDurum od ON o.OlayID = od.OlayID
LEFT JOIN Dosyalar d ON o.OlayID = d.OlayID
LEFT JOIN Deliller dl ON o.OlayID = dl.OlayID
LEFT JOIN OlayPersonel op ON o.OlayID = op.OlayID
LEFT JOIN Personel p ON op.PersonelID = p.PersonelID
LEFT JOIN TelefonKayitlari tk ON o.OlayID = tk.OlayID
LEFT JOIN Tutuklamalar tut ON o.OlayID = tut.OlayID;
GO
/****** Object:  Table [dbo].[Birimler]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Birimler](
	[BirimID] [int] IDENTITY(1,1) NOT NULL,
	[BirimAdi] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BirimID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ilceler]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ilceler](
	[IlceID] [int] IDENTITY(1,1) NOT NULL,
	[IlceAdi] [nvarchar](50) NOT NULL,
	[SehirID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IlceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaasGuncellemeLogu]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaasGuncellemeLogu](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[PersonelID] [int] NULL,
	[EskiMaas] [decimal](10, 2) NULL,
	[YeniMaas] [decimal](10, 2) NULL,
	[GuncellenmeTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sehirler]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sehirler](
	[SehirID] [int] IDENTITY(1,1) NOT NULL,
	[SehirAdi] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SehirID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SistemLoglari]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SistemLoglari](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[Kullanici] [nvarchar](50) NULL,
	[IslemTuru] [nvarchar](50) NULL,
	[Detay] [nvarchar](max) NULL,
	[Tarih] [datetime] NULL,
	[IPAdresi] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SucTurleri]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SucTurleri](
	[SucTurID] [int] IDENTITY(1,1) NOT NULL,
	[SucAdi] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SucTurID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ihbarlar] ADD  DEFAULT ('Yeni') FOR [Durum]
GO
ALTER TABLE [dbo].[Ihbarlar] ADD  DEFAULT ('Normal') FOR [Oncelik]
GO
ALTER TABLE [dbo].[Ihbarlar] ADD  DEFAULT ('Genel Asayiş') FOR [IhbarTuru]
GO
ALTER TABLE [dbo].[Ihbarlar] ADD  DEFAULT ('Merkez') FOR [Konum]
GO
ALTER TABLE [dbo].[MaasGuncellemeLogu] ADD  DEFAULT (getdate()) FOR [GuncellenmeTarihi]
GO
ALTER TABLE [dbo].[OlayDurum] ADD  CONSTRAINT [df_OlayDurum_Durum]  DEFAULT ('Yeni') FOR [Durum]
GO
ALTER TABLE [dbo].[OlayKaydi] ADD  DEFAULT ('Normal') FOR [Oncelik]
GO
ALTER TABLE [dbo].[SistemLoglari] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[SistemLoglari] ADD  DEFAULT ('192.168.1.10') FOR [IPAdresi]
GO
ALTER TABLE [dbo].[Deliller]  WITH CHECK ADD FOREIGN KEY([OlayID])
REFERENCES [dbo].[OlayKaydi] ([OlayID])
GO
ALTER TABLE [dbo].[Dosyalar]  WITH CHECK ADD FOREIGN KEY([OlayID])
REFERENCES [dbo].[OlayKaydi] ([OlayID])
GO
ALTER TABLE [dbo].[Ifadeler]  WITH CHECK ADD FOREIGN KEY([OlayID])
REFERENCES [dbo].[OlayKaydi] ([OlayID])
GO
ALTER TABLE [dbo].[Ihbarlar]  WITH CHECK ADD FOREIGN KEY([OlayID])
REFERENCES [dbo].[OlayKaydi] ([OlayID])
GO
ALTER TABLE [dbo].[Ilceler]  WITH CHECK ADD FOREIGN KEY([SehirID])
REFERENCES [dbo].[Sehirler] ([SehirID])
GO
ALTER TABLE [dbo].[MagdurBilgisi]  WITH CHECK ADD FOREIGN KEY([OlayID])
REFERENCES [dbo].[OlayKaydi] ([OlayID])
GO
ALTER TABLE [dbo].[MahkemeKararlari]  WITH CHECK ADD FOREIGN KEY([OlayID])
REFERENCES [dbo].[OlayKaydi] ([OlayID])
GO
ALTER TABLE [dbo].[OlayDurum]  WITH CHECK ADD FOREIGN KEY([OlayID])
REFERENCES [dbo].[OlayKaydi] ([OlayID])
GO
ALTER TABLE [dbo].[OlayKaydi]  WITH CHECK ADD FOREIGN KEY([PersonelID])
REFERENCES [dbo].[Personel] ([PersonelID])
GO
ALTER TABLE [dbo].[OlayKaydi]  WITH CHECK ADD FOREIGN KEY([SucID])
REFERENCES [dbo].[Suclar] ([SucID])
GO
ALTER TABLE [dbo].[OlayPersonel]  WITH CHECK ADD FOREIGN KEY([OlayID])
REFERENCES [dbo].[OlayKaydi] ([OlayID])
GO
ALTER TABLE [dbo].[OlayPersonel]  WITH CHECK ADD FOREIGN KEY([PersonelID])
REFERENCES [dbo].[Personel] ([PersonelID])
GO
ALTER TABLE [dbo].[Personel]  WITH CHECK ADD  CONSTRAINT [FK_Personel_Birimler] FOREIGN KEY([BirimID])
REFERENCES [dbo].[Birimler] ([BirimID])
GO
ALTER TABLE [dbo].[Personel] CHECK CONSTRAINT [FK_Personel_Birimler]
GO
ALTER TABLE [dbo].[Suclar]  WITH CHECK ADD  CONSTRAINT [FK_Suclar_Ilce] FOREIGN KEY([IlceID])
REFERENCES [dbo].[Ilceler] ([IlceID])
GO
ALTER TABLE [dbo].[Suclar] CHECK CONSTRAINT [FK_Suclar_Ilce]
GO
ALTER TABLE [dbo].[Suclar]  WITH CHECK ADD  CONSTRAINT [FK_Suclar_Sehir] FOREIGN KEY([SehirID])
REFERENCES [dbo].[Sehirler] ([SehirID])
GO
ALTER TABLE [dbo].[Suclar] CHECK CONSTRAINT [FK_Suclar_Sehir]
GO
ALTER TABLE [dbo].[Suclar]  WITH CHECK ADD  CONSTRAINT [FK_Suclar_Tur] FOREIGN KEY([SucTurID])
REFERENCES [dbo].[SucTurleri] ([SucTurID])
GO
ALTER TABLE [dbo].[Suclar] CHECK CONSTRAINT [FK_Suclar_Tur]
GO
ALTER TABLE [dbo].[Suclular]  WITH CHECK ADD FOREIGN KEY([SucID])
REFERENCES [dbo].[Suclar] ([SucID])
GO
ALTER TABLE [dbo].[Taniklar]  WITH CHECK ADD FOREIGN KEY([OlayID])
REFERENCES [dbo].[OlayKaydi] ([OlayID])
GO
ALTER TABLE [dbo].[TelefonKayitlari]  WITH CHECK ADD FOREIGN KEY([OlayID])
REFERENCES [dbo].[OlayKaydi] ([OlayID])
GO
ALTER TABLE [dbo].[Tutuklamalar]  WITH CHECK ADD FOREIGN KEY([OlayID])
REFERENCES [dbo].[OlayKaydi] ([OlayID])
GO
ALTER TABLE [dbo].[MagdurBilgisi]  WITH CHECK ADD  CONSTRAINT [chk_Magdur_DogumTarihi] CHECK  (([DogumTarihi]<=CONVERT([date],getdate())))
GO
ALTER TABLE [dbo].[MagdurBilgisi] CHECK CONSTRAINT [chk_Magdur_DogumTarihi]
GO
ALTER TABLE [dbo].[MagdurBilgisi]  WITH CHECK ADD CHECK  (([Cinsiyet]='K' OR [Cinsiyet]='E'))
GO
ALTER TABLE [dbo].[OlayKaydi]  WITH CHECK ADD  CONSTRAINT [chk_OlayTarihi] CHECK  (([OlayTarihi]<=CONVERT([date],getdate())))
GO
ALTER TABLE [dbo].[OlayKaydi] CHECK CONSTRAINT [chk_OlayTarihi]
GO
ALTER TABLE [dbo].[Personel]  WITH CHECK ADD  CONSTRAINT [chk_Personel_DogumTarihi] CHECK  (([DogumTarihi]<=CONVERT([date],getdate())))
GO
ALTER TABLE [dbo].[Personel] CHECK CONSTRAINT [chk_Personel_DogumTarihi]
GO
ALTER TABLE [dbo].[Personel]  WITH CHECK ADD  CONSTRAINT [chk_Personel_Maas] CHECK  (([Maas]>=(11402) AND [Maas]<=(100000)))
GO
ALTER TABLE [dbo].[Personel] CHECK CONSTRAINT [chk_Personel_Maas]
GO
ALTER TABLE [dbo].[Personel]  WITH CHECK ADD CHECK  (([cinsiyet]='K' OR [cinsiyet]='E'))
GO
ALTER TABLE [dbo].[Personel]  WITH CHECK ADD CHECK  (([maas]>=(11402)))
GO
ALTER TABLE [dbo].[Suclular]  WITH CHECK ADD CHECK  (([Cinsiyet]='K' OR [Cinsiyet]='E'))
GO
ALTER TABLE [dbo].[Taniklar]  WITH CHECK ADD  CONSTRAINT [chk_Tanik_DogumTarihi] CHECK  (([DogumTarihi]<=CONVERT([date],getdate())))
GO
ALTER TABLE [dbo].[Taniklar] CHECK CONSTRAINT [chk_Tanik_DogumTarihi]
GO
ALTER TABLE [dbo].[Taniklar]  WITH CHECK ADD CHECK  (([Cinsiyet]='K' OR [Cinsiyet]='E'))
GO
/****** Object:  StoredProcedure [dbo].[sp_olayKaydiGetir]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_olayKaydiGetir]

as
begin

select * from OlayKAydi

end
GO
/****** Object:  StoredProcedure [dbo].[sp_SucluGetirID]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_SucluGetirID]
@SucluID int 
as
begin

select * from Suclular where SucluID = @SucluID

end
GO
/****** Object:  StoredProcedure [dbo].[spOlayDetayGetir]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spOlayDetayGetir]
    @OlayID INT
AS
BEGIN
    SELECT
        o.OlayID,
        o.OlayTarihi,
        o.OlaySaati,
        o.Aciklama AS OlayAciklama,

        -- Suç bilgileri
        s.SucTuru,
        s.Sehir,
        s.Mahalle,

        -- Suçlu bilgileri
        sc.Ad AS SucluAd,
        sc.Soyad AS SucluSoyad,
        sc.DogumTarihi AS SucluDogumTarihi,
        sc.Cinsiyet AS SucluCinsiyet,

        -- Mağdur bilgisi
        m.Ad AS MagdurAd,
        m.Soyad AS MagdurSoyad,
        m.Cinsiyet AS MagdurCinsiyet,

        -- İhbarlar
        i.IhbarID,
        i.IhbarciSoyad,

        -- İfadeler
        ifa.IfadeID,
        ifa.IfadeMetni,

        -- Tanıklar
        t.Ad AS TanikAd,
        t.Soyad AS TanikSoyad,

        -- Mahkeme
        mk.KararID,
        mk.KararTarihi,

        -- Olay durumu
        od.Durum,
        od.DurumAciklama,

        -- Dosyalar
        d.DosyaAdi,
        d.DosyaTuru,

        -- Deliller
        dl.DelilTuru,
        dl.DelilAciklama,

        -- Personeller
        p.Ad AS PersonelAd,
        p.Soyad AS PersonelSoyad,
        p.Rutbe,
        op.Gorev,

        -- Telefon kayıtları
        tk.TelefonNumarasi,
        tk.KonusmaMetni,

        -- Tutuklamalar
        tut.TutuklananAd,
        tut.TutuklamaTarihi

    FROM OlayKaydi o
    LEFT JOIN Suclar s ON o.SucID = s.SucID
    LEFT JOIN Suclular sc ON s.SucID = sc.SucID
    LEFT JOIN MagdurBilgisi m ON o.OlayID = m.MagdurID
    LEFT JOIN Ihbarlar i ON o.OlayID = i.OlayID
    LEFT JOIN Ifadeler ifa ON o.OlayID = ifa.OlayID
    LEFT JOIN Taniklar t ON o.OlayID = t.OlayID
    LEFT JOIN MahkemeKararlari mk ON o.OlayID = mk.OlayID
    LEFT JOIN OlayDurum od ON o.OlayID = od.OlayID
    LEFT JOIN Dosyalar d ON o.OlayID = d.OlayID
    LEFT JOIN Deliller dl ON o.OlayID = dl.OlayID
    LEFT JOIN OlayPersonel op ON o.OlayID = op.OlayID
    LEFT JOIN Personel p ON op.PersonelID = p.PersonelID
    LEFT JOIN TelefonKayitlari tk ON o.OlayID = tk.OlayID
    LEFT JOIN Tutuklamalar tut ON o.OlayID = tut.OlayID
    WHERE o.OlayID = @OlayID;
END
GO
/****** Object:  StoredProcedure [dbo].[spOlaylarSucturuneGore]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spOlaylarSucturuneGore]
    @suc_turu varchar(100)
as
begin
    select o.OlayID, o.OlayTarihi, o.OlaySaati, o.Aciklama, s.SucTuru
    from OlayKaydi o
    join Suclar s on o.SucID = s.SucID
    where s.SucTuru = @suc_turu
    order by o.OlayTarihi
end

GO
/****** Object:  StoredProcedure [dbo].[spOlaylarTariheGore]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[spOlaylarTariheGore]
    @baslangic_tarihi date,
    @bitis_tarihi date
as
begin
    select OlayID, OlayTarihi, OlaySaati, SucID, PersonelID, Aciklama
    from OlayKaydi
    where OlayTarihi between @baslangic_tarihi and @bitis_tarihi
    order by OlayTarihi
end

GO
/****** Object:  StoredProcedure [dbo].[sppersonelekle]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sppersonelekle]
    @TCKimlikNo char(11),
    @Ad varchar(50),
    @Soyad varchar(50),
    @DogumTarihi date,
    @Cinsiyet char(1),
    @Rutbe varchar(30),
    @GorevYeri varchar(100),
    @GorevBaslangicTarihi date,
    @Maas decimal(10,2)
as
begin
    insert into Personel (TCKimlikNo, Ad, Soyad, DogumTarihi, Cinsiyet, Rutbe, GorevYeri, GorevBaslangicTarihi, Maas)
    values (@TCKimlikNo, @Ad, @Soyad, @DogumTarihi, @Cinsiyet, @Rutbe, @GorevYeri, @GorevBaslangicTarihi, @Maas)
end;
GO
/****** Object:  StoredProcedure [dbo].[spPersonelGorevlendir]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spPersonelGorevlendir]
    @OlayID int,
    @PersonelID int,
    @Gorev varchar(100)
as
begin
    insert into OlayPersonel (OlayID, PersonelID, Gorev)
    values (@OlayID, @PersonelID, @Gorev);
end;
GO
/****** Object:  StoredProcedure [dbo].[spsucluekle]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spsucluekle]
    @SucID int,
    @Ad varchar(50),
    @Soyad varchar(50),
    @DogumTarihi date,
    @Cinsiyet char(1),
    @KimlikNo char(11)
as
begin
    -- Cinsiyet kontrolü
    if @Cinsiyet not in ('E', 'K')
    begin
        raiserror('Cinsiyet sadece E veya K olabilir.', 16, 1);
        return;
    end

    -- Suç var mı kontrolü
    if not exists (select 1 from Suclar where SucID = @SucID)
    begin
        raiserror('Girilen SucID mevcut değil.', 16, 1);
        return;
    end

    -- Suçlu ekleme işlemi
    insert into Suclular (SucID, Ad, Soyad, DogumTarihi, Cinsiyet, KimlikNo)
    values (@SucID, @Ad, @Soyad, @DogumTarihi, @Cinsiyet, @KimlikNo);
end;
GO
/****** Object:  StoredProcedure [dbo].[spSucluEkleParametreli]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[spSucluEkleParametreli]

 @SucID int,
    @Ad varchar(50),
    @Soyad varchar(50),
    @DogumTarihi date, 
    @Cinsiyet char(1),
    @KimlikNo char(11)

as
begin

insert into Suclular values(@SucID, @Ad, @Soyad, @DogumTarihi, @Cinsiyet, @KimlikNo)

end
GO
/****** Object:  StoredProcedure [dbo].[spSucluGuncelleParametreli]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spSucluGuncelleParametreli]
@SucluID int,
@sucID int

as
begin

update Suclular set SucID=@SucID where SucluID = @SucluID

end
GO
/****** Object:  StoredProcedure [dbo].[spsucluSilParametreli]    Script Date: 7/28/2026 9:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[spsucluSilParametreli]
@SucluID int

as
begin

delete from Suclular where SucluID = @SucluID

end

GO
